@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
:root{
    --hover-color: rgb(140, 255, 222);
    font-family: 'Montserrat', sans-serif;

    user-select: none;
    -webkit-touch-callout : none;
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    user-select: none;

}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient( 45deg, #4E5054, #313338 );
}

.button{
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: center;
    width: fit-content;
    border: 2px solid white;
    border-radius: 1.3rem;
    color: white;
    font-size: 25;
    padding: 9px;
    opacity: 0.8;
    transition: 
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out,
    background 0.5s ease-in-out,
    border-radius 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

a{
    z-index: 32876432;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.button:hover{
    background: white;
    color: black;
    cursor: pointer;
    opacity: 1;
    border-radius: 2rem;
}

.main-frame{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-gap: 0px;
    margin-top: 10px;
}

.container > div {
    width: 15px;
    height: 15px;
    background-color: white;
}

.lower-tools{
    width: 75%;
    height: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.colors {
    width: fit-content ;
    height: fit-content ;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: 15px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px ;
}

.colors > div {
    width: 18px;
    height: 13px;
    transition: transform 0.12s ease-in ,box-shadow 0.12s ease-in-out;
}

.colors > div:hover{
    transform: scale(1.5);
    box-shadow: 0px 1px 10px white;
}

.chosen-color{
    transform: scale(1.2);
    border: 1px solid;
}



.mode-option{
    cursor: pointer;
    height: 53px;
    width: 52px;
    background: white;
    margin-left: 11px;
    border-radius: 5px;
    transition: transform 0.12s ease-in;
}

.mode-option.pen{
    margin-left: 25px;
}

.curr-color{
    cursor: pointer;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 5px;
    margin-left: 15px;
    background-color: var(--hover-color);
}

.mode-option:hover{
    transform: scale(1.1);
}

.chosen{
    background: black;
    
}

.chosen img{
    filter: invert(1) brightness(1);
}

.mode-option img{
    width: 70%;
    height: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.download{
    width: 33px;
    height: 33px;
    position: absolute;
    right: 20px;
    top: 50px;
    filter: invert(1);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.reset{
    width: 33px;
    height: 33px;
    position: absolute;
    right: 20px;
    top: 120px;
    filter: invert(1);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.reset:hover{
    transform: scale(1.1);
}

.download:hover{
    transform: scale(1.1);
}

.return img{
    width: 38px;
    height: 38px;
}

.return{
    margin-left: 0;
}

.bucket img{
    width: 55px;
    height: 55px;
}



@media only screen and (max-width: 800px) {


    .container > div {
        width: 12px;
        height: 12px;
        background-color: white;
    }

    .lower-tools{
        width: 71%;
    }

    .bucket img{
        width: 40px;
        height: 40px;
    }
    .main-frame{
        width: 502px;
    }

  }

  @media only screen and (max-height: 600px) {
    .download{
        top: 200px;
    }
    .main-frame{
        margin-top: 120px;
    }

}